!!! 5
%html
  %body
    %h1
      =current_user.email
    =button_to('Sign_out', destroy_user_session_path, method: :delete)
    %br

    %h3 Destinations:
    -if @destinations
      -@destinations.each do |dest|
        %fieldset
          %legend Destination
          %h3
            =dest.name
          =button_to('Remove this destination', [:user, dest], method: :delete)
        %br
    -else
      %h3 You have no destinations added!

    =button_to('Add a Destination', new_user_destination_path, method: :get)
